@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  p {
    @apply text-lg;
  }

  .link-color {
    @apply text-blue-600;
  }

  .fun:before {
    content: " ";
    display: block;
    border-radius: 30%;
    width: 0;
    height: 0;
    margin: -32em;
    mix-blend-mode: screen;
    border-width: 32em;
    border-style: solid;
    @apply text-blue-100;
    animation: spin-forward 200s infinite;
  }

  .fun:after {
    content: " ";
    display: block;
    border-radius: 30%;
    width: 0;
    height: 0;
    margin: -32em;
    mix-blend-mode: screen;
    border-width: 32em;
    border-style: solid;
    @apply text-blue-100;
    animation: spin-forward 250s infinite;
  }

  @keyframes spin-forward {
    0% { transform: rotate(0); }
    50% { transform: rotate(900deg); }
    100% { transform: rotate(1800deg); }
  }

  @media screen and (max-width: 320px) {
    .fun:before {
      position: absolute;
      left: -260px;
    }

    .fun:after {
      position: absolute;
      left: -220px;
    }
  }

  // Safari Only as it doesn't seem to understand mix-blend-mode: screen;
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      .fun:before, .fun:after {
        @apply text-opacity-30;
        mix-blend-mode: multiply;
      }
    }
  }
}
