<header id="header">
  <h1>Duncan Robertson</h1>
  <h2>Playing with computers in leafy Surrey, Uk</h2>
  <p>I build cool stuff for web, mobile or desktop. I currently work for <a href="http://kyan.com" target="_blank">Kyan Media</a>. In a previous life I've computed for the <a href="http://bbc.co.uk" target="_blank">BBC</a>, designed and built mountain bike parts, programmed industrial robots, and dabbled in nuclear power.</p>

  <ul class="external_links">
    <li><a href="http://www.linkedin.com/pub/1/743/452" title="Snoop on me on LinkedIn" class="linkedin"><span>LinkedIn</span></a></li>
    <li><a href="https://twitter.com/whomwah" title="Yeah, I'm on Twitter too" class="twitter"><span>Twitter</span></a></li>
    <li><a href="https://github.com/whomwah" title="See me on Github" class="github"><span>Github</span></a></li>
  </ul>
</header>