$bg:                  #C1D3E0 url("/images/background.jpg") top center;
$bg-width:            1650px;

$heading-color:       #189BCE;

$color-bg:            #C1D3E0;
$color-fg:            #0B3444;

$duration-wrapper:      1s;
$duration-overlay:      1.5s;
$duration-header:       1s;

$delay-wrapper:       $duration-wrapper - 1s;
$delay-overlay:       $delay-wrapper - 0.5s;
$delay-header:        $delay-overlay + $duration-overlay - 0.75s;

@mixin bg($width) {
  #bg {
    background-size: $width auto;
    width: ($width);
  }
}